.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  background-color: #282c34;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.raw{
  display: flex;
   flex-direction: row;
   justify-content: space-around;
   object-fit: contain;
   flex-wrap: wrap;
   gap: 10rem;
   row-gap: 0rem;
   height: fit-content;
   margin-top: 50px;
   
}

/* .card {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  height: 420px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
   background-color: #282c34;
   border-radius: 20px;
} */
 .card-img-top {
  object-fit: contain;
  width: 150px;
  height: 200px;
  padding-top: 2rem;
 }
 /* .card-body {
  height: 50%;
 } */

 .dark {
  height: fit-content;
 }
